/*
  Переменные проекта
  Здесь хранятся все основные цвета, размеры и другие параметры
  для обеспечения единого стиля и легкого изменения темы
*/
:root {
  /* Основные цвета */
  --background-color: #000028;
  --text-color: #f1b2ce;
  --accent-color: #ff0070;
  --accent-color-transparent: rgba(255, 0, 112, 0.4);
  --main-heading-color: #db00ff;
  
  /* Цвета для элементов интерфейса */
  --header-menu-color: #ff0070;
  --button-box-shadow-color: #ff0070;
  --title-decor-text-color: #000028;
  --title-decor-bg-color: #ff0070;
  --decorated-zone-border-color: #ff0070;
  
  /* Параметры типографики */
  --main-font-family: "IBM Plex mono";
  --main-heading-size-tablet-desktop: clamp(
    7.5rem,
    0.5625rem + 14.4531vw,
    9.8125rem
  );
  --main-heading-size-mobile: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  --main-heading-line-height: 0.83;
  
  /* Размеры и отступы */
  --padding: 10px;
  --section-margin-block-end: 50px;
  --grid-gap: 20px;
  
  /* Параметры сетки */
  --column-count: 1;
  --column-size: 1fr;
  --item-span: 1;
  --start-column: 1;
}

/* Адаптивные стили для планшетов */
@media (min-width: 768px) {
  :root {
    --padding: 20px;
    --section-margin-block-end: 60px;
  }
}